.hero {
  padding-top: 4rem;
  padding-bottom: 2rem;
  width: 90%;
  margin: 0 auto;
}

.taglineHeader {
  text-align: center;
  font-weight: 900;
  padding-bottom: 0;
  line-height: 1.1;
  font-size: 3.4rem;
  max-width: 80rem;
  margin: 0 auto;
}

.subtitle {
  text-align: center;
  padding-top: 1rem;
  font-size: 1.8;
}

.taglineContent {
  padding: 1rem 0;
  width: 95%;
  margin: 0 auto;
}

.link {
  text-align: center;
  margin: 0 auto;
}

.taglineContent p {
  margin-bottom: 1rem;
}

.applyBut {
  margin-bottom: 2rem;
  margin-right: 0.6rem;
}

.noBut {
  background-color: inherit;
  border: 1px solid var(--gray-medium);
  color: inherit;
  font-weight: 500;
}

@media screen and (min-width: 40rem) {
  .taglineContent {
    width: 90%;
  }
}

@media screen and (min-width: 60rem) {
  .taglineHeader {
    font-size: 5.8rem;
  }

  .taglineContent {
    max-width: 40rem;
    /* width: 65%; */
  }

  .subtitle {
    font-size: 2.2rem;
  }
}
